body {
	text-align: center;
	background-color: #303030;
	color: #fff;
	margin: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
	margin: 50px auto;
	height: 100px;
	width: 800px;
}

p {
	font-weight: bold;
	font-size: 24px;
}

.output {
	margin: 0 auto;
	height: 50px;
	width: 800px;
}
