* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wybor {
	margin: 0 auto;
	text-align: center;
	background-color: white;
	padding: 10px;
	width: 550px;
	height: 200px;
}

.wynik {
	margin: 0 auto;
	background-color: white;
	height: 300px;
	width: 550px;
	text-align: center;
}
