* {
    font-family: 'Garamond';
    background-color: mistyrose;
    color: rgb(62, 39, 35);
    text-align: center;
}


.lewy {
    float: left;
    width: 20%;
    height: 600px;
    margin: 30px;
    box-shadow: 15px 15px 10px dimgray;
    overflow: auto;

}

.lewy img {
    width: 100%;
}

.prawy {
    float: left;
    width: 65%;
    height: 600px;
}

.miniatura {
    width: 140px;
    padding: 2px;
    border-radius: 5%;
}

.miniatura:hover {
    border: 1px black dotted;
}

.duzy {
    width: 500px;
    margin: 30px;
    box-shadow: 15px 15px 10px dimgray;
}

table {
    border: 1px black dashed;
    width: 100%;
}

.baner {
    width: 100%;
    float: left;
}

.stopka {
    width: 100%;
    float: left;
}